################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scripts/compliance/IntuneComplianceReport-20250813-194504.csv
/scripts/compliance/IntuneComplianceReport-20250813-194504.html
/scripts/compliance/IntuneComplianceReport-20250813-194504.json
/scripts/compliance/IntuneComplianceReport-20250813-205851.csv
/scripts/compliance/IntuneComplianceReport-20250813-205851.html
/scripts/compliance/IntuneComplianceReport-20250813-205851.json
/scripts/compliance/IntuneComplianceReport-20250813-210520.csv
/scripts/compliance/IntuneComplianceReport-20250813-210520.html
/scripts/compliance/IntuneComplianceReport-20250813-210520.json
/scripts/compliance/IntuneComplianceReport-20250813-210751.csv
/scripts/compliance/IntuneComplianceReport-20250813-210751.html
/scripts/compliance/IntuneComplianceReport-20250813-210751.json
/scripts/compliance/IntuneComplianceReport-20250814-093924.csv
/scripts/compliance/IntuneComplianceReport-20250814-093924.html
/scripts/compliance/IntuneComplianceReport-20250814-093924.json
/scripts/compliance/IntuneComplianceReport-20250814-094007.csv
/scripts/compliance/IntuneComplianceReport-20250814-094007.html
/scripts/compliance/IntuneComplianceReport-20250814-094007.json
/scripts/compliance/IntuneComplianceReport-20250814-205317.csv
/scripts/compliance/IntuneComplianceReport-20250814-205317.html
/scripts/compliance/IntuneComplianceReport-20250814-205317.json
